@model VmStudentLogin
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*@if (Model.IsStudent == false)
{*@
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-8">
                <form class="user" asp-controller="userlogin" asp-action="login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="email" asp-for="@Model.Email" class="form-control form-control-user"
                               placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="@Model.Password" class="form-control form-control-user"
                               placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
@*}
else
{*@

    @*<div class="container">
        <div class="row justify-content-around">
            <div class="col-md-8">
                <form class="user" asp-controller="userlogin" asp-action="login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="email" asp-for="@Model.Email" class="form-control form-control-user"
                               placeholder="Enter Email Address...">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="@Model.Password" class="form-control form-control-user"
                               placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>*@







<!--<form class="user" asp-controller="AccountUser" asp-action="login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-8">
        <h3 class="modal-title ">Giris</h3>
        <div class="mb-">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="email" asp-for="@Model.Email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Parol</label>
            <input type="password" asp-for="@Model.Password" class="form-control">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Daxil ol</button>

        </div>
    </div>-->
@*<div class="form-group">
        <input type="email" asp-for="@Model.Email" class="form-control form-control-user"
               placeholder="Enter Email Address...">
    </div>
    <div class="form-group">
        <input type="password" asp-for="@Model.Password" class="form-control form-control-user"
               placeholder="Password">
    </div>*@
@*<button type="submit" class="btn btn-primary btn-user btn-block">
        Login
    </button>*@
<!--</form>-->
