@model  VmRegister
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register - SB Admin</title>
    <link href="~/Area/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form asp-area="admin" asp-action="Register" asp-controller="Account" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="@Model.Name" type="text" placeholder="Enter your first name" />
                                                    <label asp-for="@Model.Name">First name</label>
                                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="@Model.Surname" type="text" placeholder="Enter your last name" />
                                                    <label asp-for="@Model.Surname">Last name</label>
                                                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" asp-for="@Model.Email" type="email" placeholder="name@example.com" />
                                            <label asp-for="@Model.Email">Email address</label>
                                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="@Model.Password" type="password" placeholder="Create a password" />
                                                    <label asp-for="@Model.Password">Password</label>
                                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="@Model.RepaetPassword" type="password" placeholder="Confirm password" />
                                                    <label asp-for="@Model.RepaetPassword">Confirm Password</label>
                                                    <span asp-validation-for="@Model.RepaetPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                            @*<div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <select asp-for="@Model.IsAdmin">
                                                        <option value="true">True</option>
                                                        <option value="false">False</option>
                                                    </select>
                                                    <span asp-validation-for="@Model.IsAdmin" class="text-danger"></span>
                                                </div>
                                            </div>*@
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <input type="submit" value="Register" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a  asp-area="admin" asp-controller="Account" asp-action="login" >Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Area/js/scripts.js"></script>
</body>
</html>

