@model VmHome
@{
    ViewData["Title"] = "Home Page";
}
@if (@TempData["Message"] != null)
{
<body  onload="alert('Şifrənizi dəyişmək lazımdır.Sizin şifrəniz təhlükəsizlik qaydalarına uyğun deyil!');">

</body>
}


<section id="slider">
    <div class="owl-carousel owl-theme">


        @foreach (var item in Model.Sliders)
        {
            <div class="item"><img src="~/UploadsSlider/@item.Image" class="img-fluid" alt="..."></div>
        }

    </div>
</section>



<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 title">
                <h3>
                    Xeberler
                </h3>
                <p>

                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>
            <div class="row" style="margin-left: 3px;">
                @{ int t = 0;

                    foreach (var item in Model.Blogs)
                    {
                        if (t < 4)
                        {
                            <div class="col-lg-3 col-md-6 cardd">
                                <div class="card">
                                    <img src="~/UploadsBlog/@item.Image" class="card-img-top " alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            @(item.Title.Length>35? item.Title.Substring(0,35)+"...":item.Title)
                                        </h5>
                                        <p class="card-text">
                                            @(item.Content.Length>200? item.Content.Substring(0,200)+"...":item.Content)
                                        </p>
                                        <a asp-action="BlogDetails" asp-controller="blog" asp-route-id="@item.Id">Etrafli</a>
                                        <div class="date">
                                            @item.Date.ToString("MMMM d")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            t++;
                        }
                    }
                }

            </div>

        </div>
    </div>
</section>



<section id="total">
    <div class="container">
        <div class="row">
            @{ int y = 0;

                @foreach (var item in Model.Totals)
                {
                    if (y < 3)
                    {
                        <div class="col-md-4">
                            <div class="borderr">
                                @*<img src="~/Uploads/@item.Icon" alt="">*@
                                <i class="@item.Icon"></i>
                                <h4>
                                    <div class="timer" data-from="0" data-to="@item.Numeral" data-speed="5000" data-refresh-interval="50"></div>+

                                </h4>
                                <h3>
                                    @item.Name
                                </h3>
                            </div>
                        </div>
                        y++;
                    }

                }
            }



        </div>
    </div>
</section>

<!-- student slider -->

<section id="slider2">
    <div class="col-lg-12 title">
        <h3>
            Telebeler
        </h3>
        <p>

        </p>
        <div class="dot1">
        </div>
        <div class="dot1">
        </div>
        <div class="dot1">
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-right: -47px;">
            <div class="col-lg-12 col-sm-12">
                <div class=" student-1 owl-carousel owl-theme">
                    @foreach (var item in Model.CustomUsers)
                    {

                        if (item.IsAdmin == false)
                        {
                            if (item.IsStudent == true)
                            {
                                <div class="item">
                                    <div class="testimonials_single_in">

                                        <h3>@item.Name @item.Surname</h3>
                                        <h5>Student</h5>
                                        <img src="~/Uploadss/@item.Image" class="img-fluid" alt="">
                                    </div>
                                </div>
                            }

                        }


                    }


                </div>
            </div>
        </div>
    </div>



    </div>
</section>
<!-- stundent slider end -->
<!-- ------------ -->
<section id="video">
    <div class="forvideo" @*style="background-image: url('../../wwwroot/Uploads/@Model.UniverstyVideo.BackImg');*@>
        <div class="container">
            <div class="row forcenter">
                <div class="col-lg-12">
                    <div class="inside_video">
                        <h4>Watch Our Univercity Video</h4>
                        <a data-bs-toggle="modal" data-bs-target="#VmModal" href="">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- video modal -->

<div class="video-modal">
    <div class="modal" style="top: 250px;" id="VmModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-content">
                <iframe height="315" src="@Model.UniverstyVideo.Link" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<!-- ----------------- -->
<!-- teacher  -->

<section id="teacher">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title">
                <h3>
                    Muellimler
                </h3>
                <p>

                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>

            @{ int q = 0;
                @foreach (var item in Model.CustomUsers)
                {
                    if (item.IsAdmin == false)
                    {
                        if (item.IsStudent == false)
                        {

                            if (q < 4)
                            {
                                <div class="col-md-4 col-lg-3 teacher">
                                    <div class="card" style="border: none;">
                                        <div class="img ">
                                            <img class="card-img-top" src="~/Uploadss/@item.Image" alt="Card image cap">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-center">@item.Name  @item.Surname</h5>
                                            <p class="card-text text-center">Teacher</p>
                                        </div>
                                    </div>
                                </div>
                                q++;
                            }
                        }
                    }


                }
            }
        </div>
    </div>
</section>

<!-- teacher end -->
<!-- partner -->
<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="partner-logo owl-carousel owl-theme">
                    @foreach (var item in Model.Partners)
                    {
                        <div class="item"><img src="~/UploadsPatrners/@item.Image" alt=""></div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>
<!-- partner end -->
<!-- about -->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title">
                <h3>
                    Haqqimizda
                </h3>
                <p>

                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>

            <div class="col-lg-6 content">
                <h2>
                    @Model.About.Title
                </h2>
                <p>
                    @Model.About.Content
                </p>
            </div>
            <div class="col-lg-6 img">
                <img src="~/UploadsAbout/@Model.About.Image" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<!-- about end -->

