@model VmStudentRegister

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Slider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="admin" asp-action="edit" asp-controller="sliders1" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="control-label"></label>
                <input asp-for="@Model.Password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>   <div class="form-group">
                <label asp-for="@Model.RepaetPassword" class="control-label"></label>
                <input asp-for="@Model.RepaetPassword" class="form-control" />
                <span asp-validation-for="@Model.RepaetPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Adı</label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Soyadı</label>
                <input asp-for="@Model.Surname" class="form-control" />
                <span asp-validation-for="@Model.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Atasının adı</label>
                <input asp-for="@Model.AtaAdi" class="form-control" />
                <span asp-validation-for="@Model.AtaAdi" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <input asp-for="@Model.CustomUser.Id" hidden />
        <input asp-for="@Model.Image" hidden />
    </div>
</div>

 