@model Universite_Web.Models.CustomUser


@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/assets/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-controller="home" asp-action="index"><img class="img-fluid" src="~/img/Безымянный.png" alt=""></a>

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar-->
        <ul class="navbar-nav d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" asp-controller="LoginStudent" asp-action="about">
                            <div class="sb-nav-link-icon"> <i class="fas fa-address-card"></i> </div>
                            Sexsi melumat
                        </a>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                           data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Fenler
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                             data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" asp-controller="LoginStudent" asp-action="Continuity">fennin adi</a>
                            </nav>
                        </div>
                    </div>

                </div>

            </nav>
        </div>


        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid profile px-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- meta -->
                            <div class="profile-user-box">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="">
                                            <h4 style="padding-top: 15px;" class="mt-5 m-b-5 font-18 ellipsis"></h4>
                                            <p class="font-13"> Tələbə</p>

                                            <p class="text-muted m-b-0">@Model.Name</p>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div style="padding-top: 65px;">
                                            <button type="button" class="btn btn-success waves-effect waves-light" id="pwd-change"><i class="mdi mdi-account-settings-variant m-r-5"></i>Redaktə et</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ meta -->
                        </div>
                    </div>
                </div>

                <div class="container-fluid px-4">
                    <div class="row m-t-30 mt-4">
                        <div class="col-sm-12">
                            <div class="card p-0">
                                <div class="card-body p-0">
                                    <ul class="nav nav-tabs profile-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab"
                                               href="#aboutme">Tələbə haqqında məlumat</a>

                                        </li>
                                    </ul>
                                    <div class="tab-content m-0 p-4">
                                        <div id="aboutme" class="tab-pane active">
                                            <div class="profile-desk">
                                                <table class="table table-condensed">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <b>
                                                                    Teams Mail


                                                                </b>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Tems Parol</b></td>
                                                            <td>Aa12345!</td>
                                                        </tr>


                                                        <tr>
                                                            <td><b>İdentifikator</b></td>
                                                            <td>
                                                                201806274
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>İmtahan parolu</b></td>
                                                            <td>
                                                                885954579
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Soyadı</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                   @Model.Surname
                                                                </a>
                                                                

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Adı</b></td>
                                                            <td class="ng-binding">
                                                                @Model.Name
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td><b>Atasının adı</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.AtaAdi
                                                                </a>
                                                                <input hidden />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Şəxsiyyət vəsiqəsinin seriya və nömrəsi</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.PassportNumber
                                                                </a>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td><b>Cinsi</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.Gender
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Təhsil növü</b></td>
                                                            <td class="ng-binding"> </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>İngilis dili adı</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Telefon</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.PhoneNumber


                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Ünvanı</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Mobil telefon</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Təhsil forması</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.EducationSection.Country
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Bölməsi</b></td>
                                                            <td class="ng-binding"> </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Fakültənin adı</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.Faculty.Name
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Kafedranın adı</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>İxtisas adı</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.Specialty.Name
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>İxtisaslaşma</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Doğum tarixi</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.DateOfBirth
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Kurs</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    IV kurs
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Statusu </b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    təhsil alir
                                                                </a>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td><b>Orta məktəb</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                </a>


                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td><b>Orta məktəbi bitirdiyi tarix</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                </a>


                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Qəbul olma tarixi</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.DateOfCompletion
                                                                </a>


                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>Bitirdiyi tarix</b></td>
                                                            <td>
                                                                <a class="ng-binding">
                                                                    @Model.AdmissionDate
                                                                </a>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> <!-- end profile-desk -->
                                        </div> <!-- about-me -->
                                        <!-- Activities -->
                                        <div id="user-activities" class="tab-pane">
                                            <div class="timeline-2">
                                                <div class="time-item">
                                                    <div class="item-info ml-3 mb-3">
                                                        <div class="text-muted">5 minutes ago</div>
                                                        <p>
                                                            <strong><a href="#" class="text-info">John Doe</a></strong>
                                                            Uploaded a photo <strong>"DSC000586.jpg"</strong>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="time-item">
                                                    <div class="item-info ml-3 mb-3">
                                                        <div class="text-muted">30 minutes ago</div>
                                                        <p>
                                                            <a href="#" class="text-info">Lorem</a> commented your post.
                                                        </p>
                                                        <p>
                                                            <em>
                                                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aliquam laoreet tellus ut tincidunt euismod. "
                                                            </em>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="time-item">
                                                    <div class="item-info ml-3 mb-3">
                                                        <div class="text-muted">59 minutes ago</div>
                                                        <p>
                                                            <a href="#" class="text-info">Jessi</a> attended a meeting
                                                            with<a href="#" class="text-success">John Doe</a>.
                                                        </p>
                                                        <p>
                                                            <em>
                                                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aliquam laoreet tellus ut tincidunt euismod. "
                                                            </em>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="time-item">
                                                    <div class="item-info ml-3 mb-3">
                                                        <div class="text-muted">5 minutes ago</div>
                                                        <p>
                                                            <strong>
                                                                <a href="#" class="text-info">
                                                                    John
                                                                    Doe
                                                                </a>
                                                            </strong>Uploaded 2 new photos
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="time-item">
                                                    <div class="item-info ml-3 mb-3">
                                                        <div class="text-muted">30 minutes ago</div>
                                                        <p>
                                                            <a href="#" class="text-info">Lorem</a> commented your post.
                                                        </p>
                                                        <p>
                                                            <em>
                                                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aliquam laoreet tellus ut tincidunt euismod. "
                                                            </em>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="time-item">
                                                    <div class="item-info ml-3 mb-3">
                                                        <div class="text-muted">59 minutes ago</div>
                                                        <p>
                                                            <a href="#" class="text-info">Jessi</a> attended a meeting
                                                            with<a href="#" class="text-success">John Doe</a>.
                                                        </p>
                                                        <p>
                                                            <em>
                                                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Aliquam laoreet tellus ut tincidunt euismod. "
                                                            </em>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- settings -->
                                        <div id="edit-profile" class="tab-pane">
                                            <div class="user-profile-content">
                                                <form role="form">
                                                    <div class="form-group">
                                                        <label for="FullName">Full Name</label>
                                                        <input type="text" value="John Doe" id="FullName"
                                                               class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Email">Email</label>
                                                        <input type="email" value="first.last@example.com" id="Email"
                                                               class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Username">Username</label>
                                                        <input type="text" value="john" id="Username"
                                                               class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Password">Password</label>
                                                        <input type="password" placeholder="6 - 15 Characters"
                                                               id="Password" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="RePassword">Re-Password</label>
                                                        <input type="password" placeholder="6 - 15 Characters"
                                                               id="RePassword" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="AboutMe">About Me</label>
                                                        <textarea style="height: 125px;" id="AboutMe"
                                                                  class="form-control">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</textarea>
                                                    </div>
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                </form>
                                            </div>
                                        </div>


                                        <!-- profile -->
                                        <div id="projects" class="tab-pane">
                                            <div class="row m-t-10">
                                                <div class="col-md-12">
                                                    <div class="portlet">
                                                        <!-- /primary heading -->
                                                        <div id="portlet2" class="panel-collapse collapse show">
                                                            <div class="portlet-body">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Project Name</th>
                                                                                <th>Start Date</th>
                                                                                <th>Due Date</th>
                                                                                <th>Status</th>
                                                                                <th>Assign</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>1</td>
                                                                                <td>Velonic Admin</td>
                                                                                <td>01/01/2015</td>
                                                                                <td>07/05/2015</td>
                                                                                <td>
                                                                                    <span class="label label-info">
                                                                                        Work
                                                                                        in Progress
                                                                                    </span>
                                                                                </td>
                                                                                <td>Coderthemes</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>2</td>
                                                                                <td>Velonic Frontend</td>
                                                                                <td>01/01/2015</td>
                                                                                <td>07/05/2015</td>
                                                                                <td>
                                                                                    <span class="label label-success">Pending</span>
                                                                                </td>
                                                                                <td>Coderthemes</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>3</td>
                                                                                <td>Velonic Admin</td>
                                                                                <td>01/01/2015</td>
                                                                                <td>07/05/2015</td>
                                                                                <td>
                                                                                    <span class="label label-pink">Done</span>
                                                                                </td>
                                                                                <td>Coderthemes</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>4</td>
                                                                                <td>Velonic Frontend</td>
                                                                                <td>01/01/2015</td>
                                                                                <td>07/05/2015</td>
                                                                                <td>
                                                                                    <span class="label label-purple">
                                                                                        Work
                                                                                        in Progress
                                                                                    </span>
                                                                                </td>
                                                                                <td>Coderthemes</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>5</td>
                                                                                <td>Velonic Admin</td>
                                                                                <td>01/01/2015</td>
                                                                                <td>07/05/2015</td>
                                                                                <td>
                                                                                    <span class="label label-warning">
                                                                                        Coming
                                                                                        soon
                                                                                    </span>
                                                                                </td>
                                                                                <td>Coderthemes</td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- /Portlet -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="~/assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/assets/demo/chart-area-demo.js"></script>
    <script src="~/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/assets/js/datatables-simple-demo.js"></script>
</body>

</html>
